<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Edit Product</h2>


    <div>
        <fieldset>
            <legend>Edit Burger</legend>

            <form action="/orders/products/<%=burger._id%>?_method=PATCH" method="POST">

                <input type="text" name="name" id="" placeholder="Name" value="<%=burger.name%>">
                <br>
                <br>
                <br>                
                <br>
                <br>
                
                <input type="text" name="burger" id="" placeholder="Burger type" value="<%=burger.burger%>">
                
                <br>
                <br>
                <input type="text" name="location" id="" placeholder="Location" value="<%=burger.location%>">



                <button>Update</button>
            </form>
        </fieldset>
        
    </div>
</body>
</html>